.row
  .col-3
    %table.table
      %thead.thead-light
        %tr
          %th{ scope: 'col' } #
          %th{ scope: 'col' } Characters
          %th.text-right{ scope: 'col' } Actions
      %tbody
        %tr
          %td 1
          %td Suci
          %td
            .btn-group.float-right
              %button.btn.btn-primary{ type: 'button' } Edit
              %button.btn.btn-danger{ type: 'button' } Delete
        %tr
          %td 2
          %td Ben
          %td
            .btn-group.float-right
              %button.btn.btn-primary{ type: 'button' } Edit
              %button.btn.btn-danger{ type: 'button' } Delete
        %tr
          %td 3
          %td Maudy
          %td
            .btn-group.float-right
              %button.btn.btn-primary{ type: 'button' } Edit
              %button.btn.btn-danger{ type: 'button' } Delete
        %tr
          %td 4
          %td Widya
          %td
            .btn-group.float-right
              %button.btn.btn-primary{ type: 'button' } Edit
              %button.btn.btn-danger{ type: 'button' } Delete
        %tr
          %td 5
          %td Dana
          %td
            .btn-group.float-right
              %button.btn.btn-primary{ type: 'button' } Edit
              %button.btn.btn-danger{ type: 'button' } Delete
        
    %table.table
      %thead.thead-light
        %tr
          %th{ scope: 'col' } #
          %th{ scope: 'col' } Relationships
          %th.text-right{ scope: 'col' } Actions
      %tbody
        %tr
          %td 1
          %td Loves
          %td
            .btn-group.float-right
              %button.btn.btn-primary{ type: 'button' } Edit
              %button.btn.btn-danger{ type: 'button' } Delete
        %tr
          %td 2
          %td Hates
          %td
            .btn-group.float-right
              %button.btn.btn-primary{ type: 'button' } Edit
              %button.btn.btn-danger{ type: 'button' } Delete
        %tr
          %td 3
          %td Kills
          %td
            .btn-group.float-right
              %button.btn.btn-primary{ type: 'button' } Edit
              %button.btn.btn-danger{ type: 'button' } Delete
        %tr
          %td 4
          %td Marries
          %td
            .btn-group.float-right
              %button.btn.btn-primary{ type: 'button' } Edit
              %button.btn.btn-danger{ type: 'button' } Delete
  .col-9
    Graphviz Render Area
